<div class="container">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <%= link_to "#", class: "" do %>
      <%= image_tag "background-image-logo.png", id: "footer-logo" %>
    <% end %>
    <ul class="nav nav-items">
      <li class="nav-item">
        <%= link_to "Home", "/", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Nosotros", "/us", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "T & C", "/", class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="container d-md-flex align-items-center justify-content-md-between my-3 text-center">
    <div class="container footer-icons d-flex align-items-center mb-3 mb-md-auto text-center text-md-left justify-content-center justify-content-md-start">
      <a href="https://www.instagram.com/performers.show/" target="blank"><i class="fab fa-instagram text-center"></i></a>
      <a href="https://www.facebook.com/performers.show/" target="blank"><i class="fab fa-facebook text-center"></i></a>
      <a href="https://www.youtube.com/channel/UChsk3zsoyWMMtJCYW8o-E2g/featured" target="blank"><i class="fab fa-youtube text-center"></i></i></a>
      <a href="https://www.linkedin.com/company/performers-show/" target="blank"><i class="fab fa-linkedin text-center"></i></a>
    </div>
    <div class="container footer-icons d-flex flex-column justify-content-center mb-3 mb-md-auto">
      <p class="text-md-right fs-6"><i class="fas fa-mobile-alt mr-1"></i> +54 341 3385351</p>
      <p class="text-md-right fs-6"><i class="far fa-envelope mr-1"></i> performers.show@gmail.com</p>
      <p class="text-md-right fs-6"><i class="fas fa-globe-americas mr-1"></i> Rosario, Argentina</p>
    </div>
  </div>
</div>

