<%# gif beto %>
<div class="resp-container">
  <%= image_tag "gif_competencia.gif" %>
</div>

<%# pindex %>

<div class="resp-container">
  <div><%= image_tag "default-actor.jpg" %></div>
  <div><%= image_tag "default-chair.jpg" %></div>
  <div><%= image_tag "default-chair2.jpg" %></div>
  <div><%= image_tag "default-circus.jpg" %></div>
  <div><%= image_tag "default-circus2.jpg" %></div>
  <div><%= image_tag "default-dj.jpg" %></div>
  <div><%= image_tag "default-tango.jpg" %></div>
  <div><%= image_tag "default-theatre.jpg" %></div>
  <div><%= image_tag "default-actor.jpg" %></div>
  <div><%= image_tag "default-chair.jpg" %></div>
  <div><%= image_tag "default-chair2.jpg" %></div>
  <div><%= image_tag "default-circus.jpg" %></div>
  <div><%= image_tag "default-circus2.jpg" %></div>
  <div><%= image_tag "default-dj.jpg" %></div>
  <div><%= image_tag "default-tango.jpg" %></div>
  <div><%= image_tag "default-theatre.jpg" %></div>
</div>

<%# avatars - no se ven en cloudinary %>
<div class="col-12">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= image_tag "agustin.jpeg", class: "avatar avatar-xs rounded" %>
        <div class="card-body">
          <h4 class="card-title">Agustín</h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= image_tag "ivan.jpeg", class: "avatar avatar-xs rounded" %>
        <div class="card-body">
          <h4 class="card-title">Iván</h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= image_tag "nadia.jpeg", class: "avatar avatar-xs rounded" %>
        <div class="card-body">
          <h4 class="card-title">Nadia</h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# flecha %>
<div class="row justify-content-center text-center mt-2 pt-2 mt-lg-5 pt-lg-5">
  <div class="col-12 col-md-8">
    <div class="btn-container-wrapper zindex-1">
      <a class="btn btn-outline-dark border-0 btn-lg pr-2 pl-2 pt-3 pb-0 mt-md-5 mb-0 scroll align-self-center text-muted" href="#section-1">
        <i class="fas fa-chevron-down fa-3x text-white arrow-first arrow"></i>
      </a>
    </div>
  </div>
</div>

<%# caption %>
<div class="caption text-white text-right mt-2 pt-2 mt-lg-5 pt-lg-5"><strong>BY: ADMIN</strong> | 05.01.2020</div>
