<%# anterior index %>

<div class="resp-container">
  <div><%= image_tag "default-actor.jpg" %></div>
  <div><%= image_tag "default-chair.jpg" %></div>
  <div><%= image_tag "default-chair2.jpg" %></div>
  <div><%= image_tag "default-circus.jpg" %></div>
  <div><%= image_tag "default-circus2.jpg" %></div>
  <div><%= image_tag "default-dj.jpg" %></div>
  <div><%= image_tag "default-tango.jpg" %></div>
  <div><%= image_tag "default-theatre.jpg" %></div>
  <div><%= image_tag "default-actor.jpg" %></div>
  <div><%= image_tag "default-chair.jpg" %></div>
  <div><%= image_tag "default-chair2.jpg" %></div>
  <div><%= image_tag "default-circus.jpg" %></div>
  <div><%= image_tag "default-circus2.jpg" %></div>
  <div><%= image_tag "default-dj.jpg" %></div>
  <div><%= image_tag "default-tango.jpg" %></div>
  <div><%= image_tag "default-theatre.jpg" %></div>
</div>

<div class="col-12">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= image_tag "agustin.jpeg", class: "avatar avatar-xs rounded" %>
        <div class="card-body">
          <h4 class="card-title">Agustín</h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= image_tag "ivan.jpeg", class: "avatar avatar-xs rounded" %>
        <div class="card-body">
          <h4 class="card-title">Iván</h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= image_tag "nadia.jpeg", class: "avatar avatar-xs rounded" %>
        <div class="card-body">
          <h4 class="card-title">Nadia</h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
