<div class="resp-container">
  <div><%= image_tag "default-actor.jpg" %></div>
  <div><%= image_tag "default-chair.jpg" %></div>
  <div><%= image_tag "default-chair2.jpg" %></div>
  <div><%= image_tag "default-circus.jpg" %></div>
  <div><%= image_tag "default-circus2.jpg" %></div>
  <div><%= image_tag "default-dj.jpg" %></div>
  <div><%= image_tag "default-tango.jpg" %></div>
  <div><%= image_tag "default-theatre.jpg" %></div>
  <div><%= image_tag "default-actor.jpg" %></div>
  <div><%= image_tag "default-chair.jpg" %></div>
  <div><%= image_tag "default-chair2.jpg" %></div>
  <div><%= image_tag "default-circus.jpg" %></div>
  <div><%= image_tag "default-circus2.jpg" %></div>
  <div><%= image_tag "default-dj.jpg" %></div>
  <div><%= image_tag "default-tango.jpg" %></div>
  <div><%= image_tag "default-theatre.jpg" %></div>
</div>
