<!DOCTYPE html>
<html>
  <head>
    <title>Performers.show</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-visit-control" content="reload">
    <%# <link rel="preload" href="landing-background.png" as="image"> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.png') %>


  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= image_tag "landing-background-mask.png", class: "d-none"%>
    <%= image_tag "landing-background.png", class: "d-none"%>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
